*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */

.font_inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
   background-color: #469165;
   border: none;
   border-radius: 4px;
   padding: 12px 16px;
   font-size: 16px;
   font-weight: 600 ;
   color: white;
   cursor: pointer;
}

.btn:hover{
  background-color:lightgray;
  color: rgb(36, 22, 22);
}

.hero_btn_3:hover{
  color: rgb(2, 240, 240);
}

.hero_content_1 .hero_btn_1:hover{
  background-color:rgb(48, 255, 241);
  color: rgba(26, 0, 112, 0.611);
}


/* navbar start */


.container{
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 120px;
}

.nav_items{
  display: flex;
  gap: 32px;
}

.nav_items li{
  list-style: none;
}

.nav_items a{
  text-decoration: none;
  color:#000000;
}


/* navbar end */


/* hero section start */


.hero_section{
  background: url("./assets/hero-bg.png");
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 674px
}

.hero_content{
  width: 1360px ;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}

.hero_content_1 .hero_btn_1{
   background-color: white;
   border: none;
   border-radius: 1000px;
   padding: 8px 12px;
   font-size: 16px;
   font-weight: 500 ;
   color:#469165;
   cursor: pointer;
   margin-bottom: 16px;
}

.hero_content_2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero_content .hero_content_2 h1{
  color: white;
  line-height: 84px;
  font-size: 72px;
  font-weight: bold;
  opacity: 90%;
  margin-bottom: 16px;
}

.hero_content .hero_content_2 .color_green{
  color: #30B868;
}

.hero_content_3{
  margin-bottom: 32px;
  text-align: center;
}

.hero_content .hero_content_3 p{
  font-size: 18px;
  color: white;
  line-height: 24px;
}


.hero_content_4{
  display: flex;
  gap: 16px;
}

.hero_btn_2{
 display: flex;
 gap: 10px;
}

.hero_content_4 .hero_btn_3{
   background-color: transparent;
   border: 1px solid white;
}


/* hero section end */

/* notes section start */


.structure_container{
  text-align: center;
  margin-top: 60px;
}

.note_content h2{
  font-size: 48px;
  color: #001931;
  font-weight: bold;
  margin-bottom: 16px;
}

.note_content p{
  font-size: 16px;
  color: #627382;
  margin-bottom: 44px;
}

.card_container{
  display: flex;
  gap:24px;
}

.card_container .card{
  width: 322px;
  height: 300px;
  padding: 24px 24px;
  border-radius:8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  align-items: center;      
}

.card_img img{
  background:#F95555;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  padding: 15px 15px;
  margin-bottom: 16px;
  cursor: pointer;
}

img:hover{
  background-color: lightskyblue;
}

.card_content h4{
  font-size:24px;
  color: #001931;
  font-weight: 600;
  margin-bottom:16px;
}

.card_content p{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}

/* notes section end */


/* brain section start */

.brain_section{
  display: flex;
  align-items: center;
  margin-top: 100px;
  gap: 60px;
}

.brain_img img{
  border-radius: 12px;
}

.brain_note .brain_head h5{
  font-size: 16px;
  font-weight: 500;
  color: #469165;
  line-height: 20px;
  margin-bottom: 16px;
}

.brain_note .brain_head h2{
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
}

.brain_note .brain_head p{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}

.brain_note .brain_content {
  margin-top: 40px;
}

.brain_note .brain_content p{
  font-size: 16px;
  font-weight: 500;
  color: #001931;
  line-height: 20px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;    
  gap: 6px;          
}

/* brain section end */

/* Early access section start */

.early_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F7F6F2;
  border-radius: 12px;
  padding: 80px 40px ;
  margin-top: 120px;
  height: 384px;
}

.early_section .early_head{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.early_section .early_head h3{
  font-size: 40px;
  font-weight: bold;
  color:#001931;
  margin-bottom: 16px;
}

.early_section .early_head p{
  font-size:16px;
  line-height: 24px;
  color: #627382;
}

.early_section .early_footer{
  margin-top: 16px;
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}

/* Early access section end */

/* footer section start */

.footer_section{
  width: 100%;
  height: 348px;
  background: #001931;
  margin-top: 120px;
}

.footer_content{
  max-width: 1360px ;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}

.footer_content .footer_content_1{
  display: flex;
  width: 1360px;
  justify-content: space-between;
  margin-top: 120px;
}

.footer_content_1 .footer_logo_2{
  margin-right: 110px;
}

.footer_content_1 .footer_logo_2 p{
  color: white;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}

.footer_content_1 .footer_logo_2 i{
  background: white;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  margin-top: 16px;
  border-radius: 100%;
  padding: 3px 3px;
  cursor: pointer;
}

.footer_logo_2 i:hover{
  color: blue;
  background: lightgray;
}

.footer_content hr{
  width: 1360px;
  color: #E5E7EB;
  opacity: 20%;
  margin-top: 80px;
}

.footer_content .footer_content_2 p{
  color: #FAFAFA;
  font-size: 16px;
  line-height: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* footer section end */